p {
  color: blue;
  font-size: px;
}

h1 {
 background-color: red;
}

.circle {
  background-color: grey;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

hr {
  background-color: red;
  height: 30px;
}